<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Attack</title>
  </head>
  <body>

    <div>
      <%= "#{$game.players[1].player_name} attacks #{$game.players[0].player_name}!" %>
    </div>

    <div>
      <%= "#{$game.players[0].player_name} has #{$game.players[0].hitpoints} hitponts left!" %>
    </div>
    <div class="button">
      <a href="/play"><button type="submit" >Return to Battle!</button></a>
    </div>

  </body>
</html>
