<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <%="#{@player1_name} HP : 100" %>
    </div>
    <div>
      <%="#{@player2_name} HP : 100" %>
    </div>



  </body>
</html>
