<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <%="#{$player1.player_name} HP : 100" %>
    </div>
    <div>
      <%="#{$player2.player_name} HP : 100" %>
    </div>
    <div class="button">
      <a href="/attack"><button type="submit" >Attack!</button></a>
    </div>


  </body>
</html>
