<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <%="P1: #{@player1_name}" %>
    </div>
    <div>
      <%="P2: #{@player2_name}" %>
    </div>



  </body>
</html>
